.custom-nav {
    display: flex;
    justify-content: space-between;
}
.custom-nav a {
    flex-grow: 22;
}
.video {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.para {
    margin-top: 102px;
    margin-bottom: 20px;
}
.para p {
    text-align: justify;
    line-height: 1.5rem;
}

.product-details {
    margin-top: 20px;
    line-height: 0.5rem;
    text-align: center;
}
.slider-img {
    height: 240px;
    width: 100%;
}
hr {
    height: 20px;
    font-size: bold;
    color: red;
}
.product-h {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-icon {
    background: rgba(225, 244, 195, 0.372);
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 0px;
}
.social-icon a {
    text-decoration: none;
}
.social-icon a i {
    font-size: 30px;
    text-align: center;
}

.footer-top {
    background-color: rgba(128, 128, 128, 0.43);
    padding: 10px 10px 10px 10px;
}
.footer-top p {
    text-align: center;
}
.footer {
    background-color: black;
    color: white;
    height: 50px;
    justify-items: center;
}
.footer p {
    text-align: center;
    padding-top: 14px;
}
.footer p a {
    text-decoration: none;
    color: black;
}

.info-details {
    background: rgba(231, 164, 164, 0.524);
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
}
.custom-info {
    color: blue;
}

/* ===========================================================================================================
===========================Product stytle==================================================================
=========================================================================================================== */
.product-item {
    list-style: none;
    margin-bottom: 30px;
}

@media screen and (max-width: 479) {
    .auto-clear .col-ts-1:nth-child(12n + 1),
    .auto-clear .col-ts-2:nth-child(6n + 1),
    .auto-clear .col-ts-15:nth-child(5n + 1),
    .auto-clear .col-ts-3:nth-child(4n + 1),
    .auto-clear .col-ts-4:nth-child(3n + 1),
    .auto-clear .col-ts-6:nth-child(odd) {
        clear: both;
    }
    .col-ts-6 {
        width: 50%;
    }
    .col-ts-1,
    .col-ts-2,
    .col-ts-3,
    .col-ts-4,
    .col-ts-5,
    .col-ts-6,
    .col-ts-7,
    .col-ts-8,
    .col-ts-9,
    .col-ts-10,
    .col-ts-11 {
        float: left;
    }
    .col-ts-1,
    .col-ts-10,
    .col-ts-11,
    .col-ts-12,
    .col-ts-2,
    .col-ts-3,
    .col-ts-4,
    .col-ts-5,
    .col-ts-6,
    .col-ts-7,
    .col-ts-8,
    .col-ts-9 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

}

.product-item .product-inner {
    border-radius: 0;
    overflow: hidden;
    position: relative;
    border: 2px solid #F1F1F1;
    padding: 0px;
    background-color: #fff;
}

@media (max-width: 480px){
.product-item .product-inner {
    text-align: center;
}
}

.product-item .product-top {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    left: 8px;
    top: 8px;
    right: 0;
}
.product-item .flash {
    font-size: 12px;
    border-radius: 20px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    float: right;
    line-height: 22px;
    height: 22px;
    min-width: 44px;
    padding: 0px 5px;
    text-align: center;
    background-color: #f5202d;
    color: #fff;
    position: relative;
    margin-right: 6px;
}
.product-item .product-thumb {
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}
.product-item .thumb-inner {
    position: relative;
}
a {
    /* color: inherit; */
    text-decoration: none;
}
.product-item .product-inner img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.product-item .product-info {
    text-align: center;
    position: relative;
}
.product-item .product-name {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    font-optical-sizing: auto;
    margin-bottom: 4px;
    padding: 0px 11px;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.428;
    font-weight: 500;
    color: #000;
    margin-top: 0;
}
.product-item .price {
    display: block;
    font-size: 20px;
    color: #ff0000;
    font-weight: 500;
    line-height: 100%;
}
.product-info .product-price {
    display: flex;
    justify-content: center;
}
.product-item .price {
    display: block;
    font-size: 20px;
    color: #ff0000;
    font-weight: 500;
    line-height: 100%;
}
.product-item .price del {
    color: #aaa;
    font-size: 14px;
    font-weight: 200;
    margin-left: 11px;
}
del.price-before-discount {
    color: silver;
    font-size: 16px;
    font-weight: 400;
}
.product-item .product-info .loop-form-add-to-cart {
    margin-top: 10px;
    width: 100%;
    display: block;
}
@media (max-width: 767px){
.product-item .loop-form-add-to-cart {
    display: none;
}
}

.product-item .product-info .loop-form-add-to-cart .single_add_to_cart_button {
    width: 100%;
    display: block;
}
.button, button, input[type="submit"], .block-minicart .shopcart-icon .count, .load-more a:hover, .cleric-newsletter.style1 .newsletter-form-wrap .submit-newsletter:hover, .customer_login input[type="submit"], .sevice-box-content .sevice-button:hover, .footer-device-mobile-item.device-cart .count-icon, .widget_filter_size li.active, .product-item.style-list .single_variation_wrap > .button:hover, .shoppingcart-content .control-cart .button:hover, .checkout-wrapp .button:hover, .checkout-wrapp .group-button-payment .btn-credit-card, .payment-method-wrapp .button-control .btn-pay-now, .end-checkout .button, .btn-zoom.open_qv:hover, .attribute_size .list-size a.active, .attribute_size .list-size a:hover, .tab-details-product .tab-link li a::after, .product-item.style2 .group-buttons .button:hover, .product-item.style-2 .group-buttons .added_to_cart:hover, .kt-popup-newsletter.style-2 .mfp-close, .shopcart-description .actions .button-viewcart:hover, .kt-popup-quickview .mfp-close, .cleric-newsletter.style2 .newsletter-form-wrap .submit-newsletter:hover, .product-item.style-6 .loop-form-add-to-cart .button, .pinmap-buttom, .header-nav-wapper .vertical-wapper, .list-category .category-item:hover {
    background-color: #f5202d;
}

.button, button, input[type="submit"] {
    display: inline-block;
    padding: 9px 20px;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border-radius: 0;
    font-family: 'Jost', sans-serif;
    line-height: 24px;
}

@media (max-width: 767px){
.button, button, input[type="submit"] {
    font-size: 12px;
}
}

.custom_blog_title{
    text-align: center;
}
